<!DOCTYPE html>
<html>
<head>
    <title>Prueba</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Navbar</a>
</nav>
<br>
<div class="container">
<table class="table">
    <thead class="thead-inverse">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>

    {% for test in tests %}
    <tr>
        <th> {{loop.index + 1}} </th>
        <td> {{ test.getLevel() }} </td>
        <td> {{ test.getObject() }} </td>
        <td> {{ test.getMessage() }} </td>
    </tr>
    {% end %}

    </tbody>
</table>
</div>
</body>
</html>